<a href="https://colab.research.google.com/github/anshatwork-007/Create-and-Load-Dataset/blob/main/Eperiment_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Name: Ansh Yadav
# Branch: ENTC
# Batch: 2025-29
# Experiment 10

## Title: Create and Load Dataset

In [ ]:
import pandas as pd
data = {
    "Roll Number": [101,102,103,104,105],
    "Gender": ["Male","Female","Female","Male","Male"],
    "Department": ["CSE","ECE","CSE","ECE","CSE"],
    "CGPA": [8.5,7.9,9.2,8.7,7.5]
}

df = pd.DataFrame(data)

df.to_csv("student_data.csv",index=False)

df

   Roll Number  Gender Department  CGPA
0          101    Male        CSE   8.5
1          102  Female        ECE   7.9
2          103  Female        CSE   9.2
3          104    Male        ECE   8.7
4          105    Male        CSE   7.5

In [ ]:
df.shape

(5, 4)

In [ ]:
# Access information of Column depatment
df["Department"]

0    CSE
1    ECE
2    CSE
3    ECE
4    CSE
Name: Department, dtype: object

In [ ]:
# Access information of a student 103
df.loc[2]

Roll Number       103
Gender         Female
Department        CSE
CGPA              9.2
Name: 2, dtype: object

In [ ]:
# Find out data type in each column
df.dtypes

Roll Number      int64
Gender          object
Department      object
CGPA           float64
dtype: object

In [ ]:
# Find mean
mean1= df["CGPA"].mean()
mean1

np.float64(8.36)

In [ ]:
# Find mode
mode1 = df["CGPA"].mode()
mode1

0    7.5
1    7.9
2    8.5
3    8.7
4    9.2
Name: CGPA, dtype: float64

In [ ]:
# Find median
median1 = df["CGPA"].median()
median1

8.5

In [ ]:
# Insert a new column
df["Grade"] = ["First Class", "Distinction", "Second Class", "Second class", "First Class"]
df

   Roll Number  Gender Department  CGPA         Grade
0          101    Male        CSE   8.5   First Class
1          102  Female        ECE   7.9   Distinction
2          103  Female        CSE   9.2  Second Class
3          104    Male        ECE   8.7  Second class
4          105    Male        CSE   7.5   First Class

In [ ]:
# Delete Gender column
df.drop("Gender", axis=1, inplace=True)
df

   Roll Number Department  CGPA         Grade
0          101        CSE   8.5   First Class
1          102        ECE   7.9   Distinction
2          103        CSE   9.2  Second Class
3          104        ECE   8.7  Second class
4          105        CSE   7.5   First Class

In [ ]:
# CGPA of topper
max1 = df["CGPA"].max()
max1

9.2

In [ ]:
# CGPA of Roll number 105
df.loc[4,"CGPA"]

np.float64(7.5)

## Load Dataset

In [ ]:
import pandas as pd
import numpy as np
df=pd.read_csv("/content/Cars93.csv")
df

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
0,Acura,Integra,Small,15.9,25,NaN,140,5,26.5,11.0
1,Acura,Legend,Midsize,33.9,18,Driver & Passenger,200,5,30.0,15.0
2,Audi,90,Compact,29.1,20,Driver only,172,5,28.0,14.0
3,Audi,100,Midsize,37.7,19,Driver & Passenger,172,6,31.0,17.0
4,BMW,535i,Midsize,30.0,22,Driver only,208,4,27.0,13.0
...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,19.7,17,NaN,109,7,34.0,NaN
89,Volkswagen,Passat,Compact,20.0,21,NaN,134,5,31.5,14.0
90,Volkswagen,Corrado,Sporty,23.3,18,NaN,178,4,26.0,15.0
91,Volvo,240,Compact,22.7,21,Driver only,114,5,29.5,14.0
92,Volvo,850,Midsize,26.7,20,Driver & Passenger,168,5,30.0,15.0

In [ ]:
df.size

930

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Manufacturer    93 non-null     object
 1   Model           93 non-null     object
 2   Type            93 non-null     object
 3   Price           93 non-null     float64
 4   MPG.city        93 non-null     int64
 5   AirBags         59 non-null     object
 6   Horsepower      93 non-null     int64
 7   Passengers      93 non-null     int64
 8   Rear.seat.room  91 non-null     float64
 9   Luggage.room    82 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 7.4+ KB

In [ ]:
df.head()

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
0,Acura,Integra,Small,15.9,25,NaN,140,5,26.5,11.0
1,Acura,Legend,Midsize,33.9,18,Driver & Passenger,200,5,30.0,15.0
2,Audi,90,Compact,29.1,20,Driver only,172,5,28.0,14.0
3,Audi,100,Midsize,37.7,19,Driver & Passenger,172,6,31.0,17.0
4,BMW,535i,Midsize,30.0,22,Driver only,208,4,27.0,13.0

In [ ]:
df.tail()

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
88,Volkswagen,Eurovan,Van,19.7,17,NaN,109,7,34.0,NaN
89,Volkswagen,Passat,Compact,20.0,21,NaN,134,5,31.5,14.0
90,Volkswagen,Corrado,Sporty,23.3,18,NaN,178,4,26.0,15.0
91,Volvo,240,Compact,22.7,21,Driver only,114,5,29.5,14.0
92,Volvo,850,Midsize,26.7,20,Driver & Passenger,168,5,30.0,15.0